<% if @incase_ids.size == 1 %>
  <%# Шаблон для одиночной отправки %>
  <p>Здравствуйте!</p>

  <p>Во вложении заявка на вывоз запчастей.</p>

  <% if @incase.stoanumber.present? %>
    <p>Номер З/Н СТОА: <%= @incase.stoanumber %></p>
  <% end %>
  <% if @incase.unumber.present? %>
    <p>Номер дела: <%= @incase.unumber %></p>
  <% end %>

  <p>С уважением,<br>
  Авто Дизайн</p>
<% else %>
  <%# Шаблон для массовой отправки %>
  <p>Прошу подготовить к выдаче детали согласно приложенному акту. Наш
  представитель приедет к вам в течение 5 рабочих дней.</p>

  <p>Если вы не сможете выдать запчасти в течение 5 рабочих дней или захотите
  указать конкретную дату визита, то сообщите удобное время для приезда нашего
  представителя ответным письмом.</p>

  <p>Если ответ на это письмо не поступит до 12 часов следующего буднего дня, то
  мы приедем в удобный для нас день и время.</p>

  <p>Убедительная просьба в ответе на это письмо сохранять всех адресатов
  (функция "ответить всем").</p>
<% end %>
