<% content_for :title, "New Import Schedule" %>
<div class="container mx-auto px-4 max-w-2xl">
  <div class="bg-white shadow rounded-md">
    <div class="p-4 border-b">
      <h1 class="text-xl font-semibold">New Schedule</h1>
    </div>
    <div class="p-4">
      <%= render partial: "form", locals: { import_schedule: @import_schedule } %>
    </div>
  </div>
</div>
