<div class="w-full">
    <%= f.label :info, class: "block text-sm font-medium text-gray-700 py-1" %>
    <%= f.text_area :info, rows: 4, class: "w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-violet-500 focus:border-violet-500" %>
</div>