<div class="max-w-1xl mx-auto">
  <div class="flex items-center mb-4 space-x-4">
    <%= link_to_back products_path %>
    <h1 class="text-2xl font-semibold"><%= t("products.edit.heading") %></h1>
  </div>
  <%= render "form", product: @product %>
</div>
