<div class="max-w-1xl mx-auto" data-controller="product-edit-shortcuts">
  <h1 class="text-2xl font-semibold mb-4"><%= t("products.new.heading") %></h1>
  <%= render "form", product: @product %>
</div>
